::ng-deep .mat-grid-tile .mat-figure {
    flex-direction: column;
    justify-content: flex-start !important;
}

::ng-deep .mat-grid-tile .mat-grid-tile-footer:hover {
    background-color: black;
    cursor: pointer;
}

.tile-title{
    text-align: center;
    font-weight: bold;
    background: #376ce3;
    color: white;
}

a {
    color: white;
    font-weight: bold !important;
}