button {
    height: 50px;
    border-radius: 50px;
    border: solid;
    background-color: #3498db;
    border-color: #1f85b5;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: darkblue;
    border-color: darkblue;
}

select {
    height: 50px;
    background-color: #3498db;
    border-color: #1f85b5;
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

select:hover {
    background-color: darkblue;
    border-color: darkblue;
}